.loginPage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-div {
    /* margin: 14% 0%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    /* width: 31%; */
    padding: 2rem 0rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
    border-radius: 8px;
    width: 500px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 22px; */
    width: 80%;
}

.login-form img {
    width: 50px;
}

.login-form h1 {
    font-size: 14px;
}

.email-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 27px;
}

.email {
    width: 94.5% !important;
    margin-top: 7px;
    padding: 12px 0px;
    padding-left: 18px !important;
    border: 1px solid black;
    border-radius: 5px;
}

.password-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 9px;
}



.password {
    width: 94.5%;
    margin-top: 7px;
    padding: 12px 0px;
    padding-left: 18px;
    border: 1px solid black;
    border-radius: 5px;
}

.btnsubmit {
    width: 100%;
    margin-top: 15px;
    padding: 16px 0px;
    border-radius: 6px;
    background-color: #d23f57;
    border: none;
    color: white;
    font-size: 11px;
    font-weight: 600;
}

.line-div {
    margin-bottom: 24px;
    margin-top: 30.4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.or-div {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: -12px;
    color: rgb(125, 135, 156);
    background-color: rgb(255 255 255);
    padding-left: 16px;
    padding-right: 16px;
    width: 0px;
    position: absolute;
    left: 49%;
}

.hr-div {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(16 59 144);
    background: rgb(243, 245, 249);
    height: 2px;
    position: relative;
}

.hr {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgb(243, 245, 249);
    width: 97px;
    color: red;
    border: rgb(243, 245, 249);
}

.facebookbtn {
    width: 80%;
    margin-top: 15px;
    padding: 16px 0px;
    border-radius: 6px;
    background-color: #3b5998;
    border: none;
    color: white;
    font-size: 11px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.googlebtn {
    width: 80%;
    margin-top: 10px;
    padding: 16px 0px;
    border-radius: 6px;
    background-color: #4285f4;
    border: none;
    color: white;
    font-size: 11px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
}

.account {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: white;
    border-radius: 6px;
    /* padding: 0px; */
    /* height: 100%; */
}

.account-span {
    color: #767c87;
}

.account-sing {
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 20px;
    text-align: center;
    margin-left: 8px;
    color: #2b3445;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgetPassword-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-radius: 6px;
    /* padding: 0px; */
    /* height: 100%; */
    background-color: #f3f5f9;
}

.forgetPassword-span {
    color: #767c87;
}

.reset {
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 20px;
    text-align: center;
    margin-left: 8px;
    color: #2b3445;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .btnsubmit:hover {
    cursor: pointer;
}
 .reset:hover {
    cursor: pointer;
}
 .account-sing:hover {
    cursor: pointer;
}
 .googlebtn:hover {
    cursor: pointer;
}
 .facebookbtn:hover {
    cursor: pointer;
}


@media screen and (max-width: 660px) {
    .login-div {
        width: 80%;
    }
}