.headermain {
    background: #fff;
}

.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    padding: 13px 0px;
    /* flex-wrap: wrap; */
    margin: 0rem 11rem;
}

.headerlogo {
    margin-left: 24px;
    cursor: pointer;
}

.headerlogo>img {
    width: 98px;
    height: 48px;

}

.headersearchbar {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 52%;
    /* padding: 0px; */
    border: 1px solid #c5c5c5;
    border-radius: 50px;
    background-color: #fff;
}

.headersearchbar:hover {
    border: 1px solid #d23f57;
}


.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.searchbarbtn {
    width: 32%;
    padding: 5px 0px;
    background-color: #f6f9fc;
    /* display: flex; */
    /* align-items: center; */
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
}

.searchbarbtn button {
    padding: 8px;
    width: 100%;
    border: none;
    border-left: 1px solid #dae1e7;
    background-color: #f6f9fc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    cursor: pointer;
    gap: 5%;
    color: #4B566B;
}

.modallist {
    position: absolute;
    top: 5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background-color: #fff;
    width: 9%;
}
.modallist2 {
    position: absolute;
    top: 10rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background-color: #fff;
    width: 150px;
}

.ui-list {
    list-style: none;
}

.Account-cart {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    gap: 12px;
}

.userAccount {
    border-radius: 50%;
    color: #696a6c;
    cursor: pointer;
    padding: 10px;
    background-color: #F3F5F9;
}

.Acc-Cart-img {
    width: 24px;
    padding: 0px;
}

.cartPage {
    border-radius: 50%;
    color: #696a6c;
    cursor: pointer;
    padding: 10px;
    background-color: #F3F5F9;
}

.cartspan {
    font-size: 12px;
    color: #fff;
    background-color: #D23F57;
    width: 20px !important;
    position: absolute;
    border-radius: 50%;

    text-align: center;
    padding: 2px 0px;
    margin: 0px 3px;
    top: 2%;
}

.img-search {
    padding-left: 10px;
    font-size: 1.25rem;
    color: #7D879C;
    flex-shrink: 0;
}

.search-inpute {
    width: 100%;
    border: 1px solid;
    border-top-left-radius: 16px;
    padding: 14px;
    border-bottom-left-radius: 16px;
    padding-left: 14px;
    border: none;
    outline: none;
}

.li-item {
    color: #8e939c;
    background: white;
    padding: 10px;
    cursor: pointer;
    padding-left: 1rem;
}

.li-item:hover {
    background-color: rgba(0, 0, 0, 0.04);
}


.productimg {
    width: 16px;
    padding: 5px;
}



.product-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 11rem;
    padding: 10px 0px;
}

.productBTn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    border: none;
    background-color: #f6f9fc;
    cursor: pointer;
}

.productBTnArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
    padding-left: 8rem;
}

.prodCategory {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: 14px;
    font-weight: 600;
    /* text-align: left; */
    /* -webkit-flex: 1 1 0; */
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    margin-left: 10px;
    color: #7D879C;
}

.prodCategory-icon {
    font-size: 1.25rem;
    color: black;
}

.prod-catagorey {
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: 5;
    position: absolute;
    top: 0rem;
    left: 0rem;
}

.prod-item {
    position: absolute;
    top: 8.6rem;
    left: 11rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background-color: #fff;
    color: #2B3445;
    list-style: none;
    display: flex;
    align-items: self-start;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 0rem;
    
    width: 16.3%;
}

.prod-itemli {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px;
    font-size: 14px;
    width: 94%;
    padding: 8px 0px;
    /* background: red; */
    padding-left: 1rem;
}

.prod-itemli:hover {
    color: #D23F57;
    cursor: pointer;
    /* background: black; */
    background-color: rgba(0, 0, 0, 0.04);
}

.hovermodal {
    position: absolute;
    top: 07.3rem;
    background-color: transparent;
    height: 50%;
    width: 10%;

}

.nevDrop-item {
    position: absolute;
    top: 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background-color: #fff;
    color: #2B3445;
    width: 100%;
    border-radius: 8px;
}

.menu-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.menulogo {
    width: 16px;
}


.version-dropdown-menu {
    /* position: absolute; */
    /* left: 11rem; */
    width: 100%;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    background-color: #fff;
    color: #2B3445;
    padding: 16px 0px;
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* gap: 1rem; */
    border-radius: 8px;
}

.version-dropdown-menu0 {
    width: 100%;
    background: transparent;
    position: absolute;
    left: 10.5rem;
    /* padding: 18px 1px; */
    padding-left: 16px;
    padding-top: 34px;
    margin-top: -1.8rem;
}

.hovermodalDrop {
    width: 90%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    padding: 8px 0px;
    padding-left: 1rem;
}

.hovermodalDrop:hover {
    color: #D23F57;
    cursor: pointer;
    /* background: black; */
    background-color: rgba(0, 0, 0, 0.04);
}

.name-arrow-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow {
    font-size: 16px;
}

.version-dropdown-ui {
    list-style: none;

}

.version-ui {
    list-style: none;

}

.nevDropui {
    list-style: none;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    /* padding: 0rem 3rem; */
    padding-left: 0rem;
    /* gap: 15px; */
    margin: 11px 0px;
}


.nevDropli {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    padding-left: 1rem;
    padding: 8px 0px;
    padding-left: 1rem;
    width: 90%;
    list-style: none;
}

.nevDropli:hover {
    color: #D23F57;
    cursor: pointer;
    /* background: black; */
    background-color: rgba(0, 0, 0, 0.04);
}

.nevItem {
    padding: 0rem 16px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
   
}

.newBtn {
    border: none;
    background: #fff;
    cursor: pointer;
}

.prodNev-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
 
}




.dropdown-menu {
    background-color: red;
    position: absolute;
    left: 0px;
    top: 42.5rem;
}

.new16 {
    display: none;
}

.logo11 {
    display: none;
}

.biSearch {
    display: none;
}

/* sidemenu css */

.sidemenu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
   
}

.sidemenu-div {
    display: flex;
    flex-direction: column;
    width: 420px;
    padding: 1px 40px;
    /* background: red; */
}

.closeicon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 24px;
    padding-right: 3px;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.54);
}

.menu-div {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    padding-top: 27px;
}

.menu {
    width: 100%;
}

.menu-div-spen {
    padding: 7px 0px;
    padding-left: 16px;
}

.menu-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background: none;
    width: 100%;
    color: black;
}

.menu-btn:hover {
    color: #D23F57;
    cursor: pointer;
}

.ioClose {
    color: rgba(0, 0, 0, 0.54);
}

.menuname-span {
    font-size: 16px;
    font-weight: 400;
    color: #2b3445;
    /* padding: 7px 0px;
    padding-left: 16px; */
}

.menuname-span:hover {
    cursor: pointer;
    color: #D23F57;
}

.menu-btn h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    text-transform: none;
    white-space: normal;
    margin: 12px 0px;
    color: rgb(43 52 75);
}

.menu-btn span {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.54);
}


/* searchpage */
.headersearchbar-search {
    display: flex;
    align-items: center;
    width: 670px;
    border: 1px solid #c5c5c5;
    border-radius: 50px;
    background-color: #fff;
}

.headersearchbar-search:hover {
    border: 1px solid #d23f57;
}

.Searchpage-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    color: #2b3445;
}

.SearchPage-searchbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px
}

.SearchPage {
    margin: 0px 16px;
    margin-top: 24px;
}

.close-btn {
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding: 5px;
    background: none;
    border: none;
}

.close-btn:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.closeSharp {
    font-size: 1.25rem;
    color: #757575;
}

.search-inpute-Search {
    width: 100%;
    border: 1px solid;
    border-top-left-radius: 16px;
    padding: 14px;
    border-bottom-left-radius: 16px;
    padding-left: 14px;
    border: none;
    outline: none;
}

.search-inpute-Search::placeholder {
    color: #b8bdc5;
}

@media screen and (max-width: 1440px) {
    .header-div {
        margin: 0px;
    }

    .product-div {
        padding: 10px 24px;
        margin: 0px;
    }
}

@media screen and (max-width: 1150px) {
    .productmain {
        display: none;
    }

    .headersearchbar {
        display: none;
    }

    .logo1 {
        display: none;
    }

    .new16 {
        display: block;
        width: 24px !important;
    }

    .logo11 {
        display: block;
        width: 52px;
    }

    .biSearch {
        display: block;
        color: rgb(125, 135, 156);
        width: 20px;
        height: 20px;
    }

    .userAccount {
        background-color: transparent;
        padding: 0px;
    }

    .cartPage {
        background-color: transparent;
        padding: 0px;
    }

    .cartspan {
        margin: 0px -8px;
    }
}

@media screen and (max-width: 660px) {
    .sidemenu-div {
        padding: 1px 0px;
    }

    .searchbar {

        width: 51%;
    }

    .search-inpute-Search {
        width: 73%;

    }

    .searchbarbtn {
        width: 70%;

    }
}

/* .sidemenu {
    transform: translateX(-100%);
}




.sidemenu--open {
    transform: translateX(0%);
    transition: transform 0.3s ease-out;
}

.sidemenu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
}

.sidemenu--open+.sidemenu-overlay {
    opacity: 1;
    pointer-events: auto;
} */






.component {
    background-color: white;
    transition: transform 1s ease-in-out, opacity 1s ease-out;
    /* Add transition for opacity */
    padding: 20px;
    /* Add spacing around the content */
    box-sizing: border-box;
    /* Include padding in the width calculation */
    overflow: hidden;
    /* Hide any content that overflows the component */
}

.visible {
    opacity: 1;
    transform: translatex(0);
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
}

.component:not(.visible) {
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translatex(-100%);
    height: 100vh;
    width: 100vw;

}

.costomSearchbar {
    background-color: white;
    transition: transform 1s ease-in-out, opacity 1s ease-out;
    /* Add transition for opacity */
    padding: 20px;
    /* Add spacing around the content */
    box-sizing: border-box;
    /* Include padding in the width calculation */
    overflow: hidden;
    /* Hide any content that overflows the component */
}

.costomSearchbar .visible {
    opacity: 1;
    transform: translatey(0);
    height: 100vh;
    width: 100vw;
}

.costomSearchbar:not(.visible) {
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translatey(-100%);
    height: 100vh;
    width: 100vw;

}